<a href="https://colab.research.google.com/github/Reina0419/BSIS2A-CANAOAY-REINA-GRACE-/blob/main/ClassRecord.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/Reina0419/BSIS2A-CANAOAY-REINA-GRACE-/refs/heads/main/class_record.csv')

In [3]:
print("Original row count",len(df))

Original row count 62

In [4]:
print(df[df.isnull().any(axis=1)])

   StudentID        Name Course YearLevel   GPA
0    STUD001   Student_1   BSED  2nd Year   NaN
31   STUD032  Student_32    NaN  2nd Year   NaN
41   STUD042  Student_42    NaN  3rd Year  1.65
47   STUD048  Student_48    NaN  4th Year  3.56
50   STUD051  Student_51    NaN  2nd Year  3.89
51   STUD052  Student_52    NaN  2nd Year  3.21
61   STUD062  Student_62    NaN  4th Year  2.13

In [5]:
print(df.isnull().sum())

StudentID    0
Name         0
Course       6
YearLevel    0
GPA          2
dtype: int64

In [6]:
df_drop_rows = df.dropna()

In [7]:
print("Rows after dropping rows with missing values:", len(df_drop_rows))
print("\n")

Rows after dropping rows with missing values: 55

In [8]:
df["GPA"] = pd.to_numeric(df["GPA"], errors='coerce')

In [9]:
df["GPA"] = df["GPA"].fillna(df["GPA"].mean())

In [12]:
df["Course"] = df["Course"].fillna(df["Course"].mode()[0])

In [13]:
print(df[df.isnull().any(axis=1)])

Empty DataFrame
Columns: [StudentID, Name, Course, YearLevel, GPA]
Index: []

In [14]:
print(df)

   StudentID        Name Course YearLevel       GPA
0    STUD001   Student_1   BSED  2nd Year  2.458644
1    STUD002   Student_2    BSN  3rd Year  3.680000
2    STUD003   Student_3    BSN  4th Year  3.880000
3    STUD004   Student_4   BSBA  1st Year  1.380000
4    STUD005   Student_5    BSN  2nd Year  3.850000
..       ...         ...    ...       ...       ...
57   STUD058  Student_58   BSIT  3rd Year  1.430000
58   STUD059  Student_59   BSBA  2nd Year  1.570000
59   STUD060  Student_60   BSED  3rd Year  3.940000
60   STUD061  Student_61   BSCS  3rd Year  1.260000
61   STUD062  Student_62   BSIT  4th Year  2.130000

[62 rows x 5 columns]

In [15]:
df.to_csv("class_records_cleaned.csv", index=False)