<a href="https://colab.research.google.com/github/Reina0419/BSIS2A-CANAOAY-REINA-GRACE-/blob/main/ClassRecords.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import pandas as pd

In [43]:
df = pd.read_csv('https://raw.githubusercontent.com/Reina0419/BSIS2A-CANAOAY-REINA-GRACE-/refs/heads/main/class_records_may2025.csv')

In [44]:
print(df)

   StudentID        Name Course YearLevel    GPA
0    STUD001   Student_1   BSBA  1st Year    NaN
1    STUD002   Student_2   BSBA  3rd Year   2.02
2    STUD003   Student_3    BSN  4th Year   2.99
3    STUD004   Student_4    BSN  2nd Year   2.83
4    STUD005   Student_5    BSN  4th Year   2.31
5    STUD006   Student_6   BSED  4th Year   1.97
6    STUD007   Student_7   BSIT  1st Year   3.36
7    STUD008   Student_8   BSED  1st Year   3.46
8    STUD009   Student_9   BSBA  4th Year   3.99
9    STUD010  Student_10   BSCS  1st Year   1.73
10   STUD011  Student_11   BSBA  3rd Year   1.58
11   STUD012  Student_12   BSBA  2nd Year   1.61
12   STUD013  Student_13   BSBA  2nd Year   1.36
13   STUD014  Student_14  12345  2nd Year   3.35
14   STUD015  Student_15   BSBA  2nd Year   3.76
15   STUD016  Student_16   BSCS  4th Year   3.81
16   STUD017  Student_17   BSED  3rd Year  error
17   STUD018  Student_18   BSCS  4th Year    3.8
18   STUD019  Student_19   BSED  4th Year   1.67
19   STUD020  Student_20   BSBA  4th Year   2.94
20   STUD021  Student_21   BSED  2nd Year   2.38
21   STUD022  Student_22   BSBA  2nd Year    NaN
22   STUD023  Student_23   BSED  2nd Year   2.13
23   STUD024  Student_24    NaN  3rd Year   3.82
24   STUD025  Student_25    BSN  4th Year   3.83
25   STUD026  Student_26   BSCS  3rd Year   1.55
26   STUD027  Student_27    BSN  1st Year   2.23
27   STUD028  Student_28    BSN  1st Year   3.97
28   STUD029  Student_29   BSED  4th Year   3.97
29   STUD030  Student_30   BSIT  2nd Year   2.28
30   STUD031  Student_31   BSCS  1st Year   2.62
31   STUD032  Student_32   BSBA  1st Year   1.44
32   STUD033  Student_33   BSBA  2nd Year   2.71
33   STUD034  Student_34   BSBA  4th Year    1.8
34   STUD035  Student_35    BSN  1st Year   2.49
35   STUD036  Student_36   BSED  1st Year   2.43
36   STUD037  Student_37   BSBA  3rd Year    NaN
37   STUD038  Student_38   BSIT  1st Year    2.1
38   STUD039  Student_39   BSIT  3rd Year   3.17
39   STUD040  Student_40    BSN  1st Year   3.27
40   STUD041  Student_41   BSIT  2nd Year   1.98
41   STUD042  Student_42   BSED  2nd Year    NaN
42   STUD043  Student_43   BSBA  2nd Year   2.35
43   STUD044  Student_44   BSCS  1st Year   3.39
44   STUD045  Student_45   BSBA  1st Year   2.79
45   STUD046  Student_46   BSCS  3rd Year   3.54
46   STUD047  Student_47   BSIT  2nd Year   2.83
47   STUD048  Student_48   BSCS  4th Year   3.88
48   STUD049  Student_49    NaN  2nd Year   2.34
49   STUD050  Student_50   BSCS  1st Year   3.12

In [45]:
print(df[df.isnull().any(axis=1)])

   StudentID        Name Course YearLevel   GPA
0    STUD001   Student_1   BSBA  1st Year   NaN
21   STUD022  Student_22   BSBA  2nd Year   NaN
23   STUD024  Student_24    NaN  3rd Year  3.82
36   STUD037  Student_37   BSBA  3rd Year   NaN
41   STUD042  Student_42   BSED  2nd Year   NaN
48   STUD049  Student_49    NaN  2nd Year  2.34

In [46]:
print(df.isnull().sum())

StudentID    0
Name         0
Course       2
YearLevel    0
GPA          4
dtype: int64

In [47]:
df_drop_rows = df.dropna()

In [48]:
print("Rows after dropping rows with missing values:", len(df_drop_rows))
print("\n")

Rows after dropping rows with missing values: 44

In [49]:
df["GPA"] = pd.to_numeric(df["GPA"], errors='coerce')

In [50]:
df["GPA"] = df["GPA"].fillna(df["GPA"].mean())

In [51]:
df["Course"] = df["Course"].fillna(df["Course"].mode()[0])

In [52]:
print(df[df.isnull().any(axis=1)])

Empty DataFrame
Columns: [StudentID, Name, Course, YearLevel, GPA]
Index: []

In [53]:
print(df)

   StudentID        Name Course YearLevel       GPA
0    STUD001   Student_1   BSBA  1st Year  2.732222
1    STUD002   Student_2   BSBA  3rd Year  2.020000
2    STUD003   Student_3    BSN  4th Year  2.990000
3    STUD004   Student_4    BSN  2nd Year  2.830000
4    STUD005   Student_5    BSN  4th Year  2.310000
5    STUD006   Student_6   BSED  4th Year  1.970000
6    STUD007   Student_7   BSIT  1st Year  3.360000
7    STUD008   Student_8   BSED  1st Year  3.460000
8    STUD009   Student_9   BSBA  4th Year  3.990000
9    STUD010  Student_10   BSCS  1st Year  1.730000
10   STUD011  Student_11   BSBA  3rd Year  1.580000
11   STUD012  Student_12   BSBA  2nd Year  1.610000
12   STUD013  Student_13   BSBA  2nd Year  1.360000
13   STUD014  Student_14  12345  2nd Year  3.350000
14   STUD015  Student_15   BSBA  2nd Year  3.760000
15   STUD016  Student_16   BSCS  4th Year  3.810000
16   STUD017  Student_17   BSED  3rd Year  2.732222
17   STUD018  Student_18   BSCS  4th Year  3.800000
18   STUD019  Student_19   BSED  4th Year  1.670000
19   STUD020  Student_20   BSBA  4th Year  2.940000
20   STUD021  Student_21   BSED  2nd Year  2.380000
21   STUD022  Student_22   BSBA  2nd Year  2.732222
22   STUD023  Student_23   BSED  2nd Year  2.130000
23   STUD024  Student_24   BSBA  3rd Year  3.820000
24   STUD025  Student_25    BSN  4th Year  3.830000
25   STUD026  Student_26   BSCS  3rd Year  1.550000
26   STUD027  Student_27    BSN  1st Year  2.230000
27   STUD028  Student_28    BSN  1st Year  3.970000
28   STUD029  Student_29   BSED  4th Year  3.970000
29   STUD030  Student_30   BSIT  2nd Year  2.280000
30   STUD031  Student_31   BSCS  1st Year  2.620000
31   STUD032  Student_32   BSBA  1st Year  1.440000
32   STUD033  Student_33   BSBA  2nd Year  2.710000
33   STUD034  Student_34   BSBA  4th Year  1.800000
34   STUD035  Student_35    BSN  1st Year  2.490000
35   STUD036  Student_36   BSED  1st Year  2.430000
36   STUD037  Student_37   BSBA  3rd Year  2.732222
37   STUD038  Student_38   BSIT  1st Year  2.100000
38   STUD039  Student_39   BSIT  3rd Year  3.170000
39   STUD040  Student_40    BSN  1st Year  3.270000
40   STUD041  Student_41   BSIT  2nd Year  1.980000
41   STUD042  Student_42   BSED  2nd Year  2.732222
42   STUD043  Student_43   BSBA  2nd Year  2.350000
43   STUD044  Student_44   BSCS  1st Year  3.390000
44   STUD045  Student_45   BSBA  1st Year  2.790000
45   STUD046  Student_46   BSCS  3rd Year  3.540000
46   STUD047  Student_47   BSIT  2nd Year  2.830000
47   STUD048  Student_48   BSCS  4th Year  3.880000
48   STUD049  Student_49   BSBA  2nd Year  2.340000
49   STUD050  Student_50   BSCS  1st Year  3.120000

In [54]:
df.to_csv("class_records_cleaned.csv", index=False)