<a href="https://colab.research.google.com/github/Reina0419/BSIS2A-CANAOAY-REINA-GRACE-/blob/main/ClassRecord.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [75]:
import pandas as pd

In [76]:
df = pd.read_csv('https://raw.githubusercontent.com/Reina0419/BSIS2A-CANAOAY-REINA-GRACE-/refs/heads/main/class_record.csv')

In [77]:
print("Original row count",len(df))

Original row count 62

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   StudentID  62 non-null     object
 1   Name       62 non-null     object
 2   Course     56 non-null     object
 3   YearLevel  62 non-null     object
 4   GPA        60 non-null     object
dtypes: object(5)
memory usage: 2.6+ KB

In [80]:
print(df)

   StudentID        Name Course YearLevel   GPA
0    STUD001   Student_1   BSED  2nd Year   NaN
1    STUD002   Student_2    BSN  3rd Year  3.68
2    STUD003   Student_3    BSN  4th Year  3.88
3    STUD004   Student_4   BSBA  1st Year  1.38
4    STUD005   Student_5    BSN  2nd Year  3.85
..       ...         ...    ...       ...   ...
57   STUD058  Student_58   BSIT  3rd Year  1.43
58   STUD059  Student_59   BSBA  2nd Year  1.57
59   STUD060  Student_60   BSED  3rd Year  3.94
60   STUD061  Student_61   BSCS  3rd Year  1.26
61   STUD062  Student_62    NaN  4th Year  2.13

[62 rows x 5 columns]

In [81]:
print(df[df.isnull().any(axis=1)])

   StudentID        Name Course YearLevel   GPA
0    STUD001   Student_1   BSED  2nd Year   NaN
31   STUD032  Student_32    NaN  2nd Year   NaN
41   STUD042  Student_42    NaN  3rd Year  1.65
47   STUD048  Student_48    NaN  4th Year  3.56
50   STUD051  Student_51    NaN  2nd Year  3.89
51   STUD052  Student_52    NaN  2nd Year  3.21
61   STUD062  Student_62    NaN  4th Year  2.13

In [82]:
print(df.isnull().sum())

StudentID    0
Name         0
Course       6
YearLevel    0
GPA          2
dtype: int64

In [90]:
df.fillna(0, inplace=True)

In [85]:
df["Course"] = df["Course"].fillna(df["Course"].mode()[0])

In [86]:
df["GPA"] = pd.to_numeric(df["GPA"], errors='coerce')

In [87]:
print(df)

   StudentID        Name Course YearLevel   GPA
0    STUD001   Student_1   BSED  2nd Year  0.00
1    STUD002   Student_2    BSN  3rd Year  3.68
2    STUD003   Student_3    BSN  4th Year  3.88
3    STUD004   Student_4   BSBA  1st Year  1.38
4    STUD005   Student_5    BSN  2nd Year  3.85
..       ...         ...    ...       ...   ...
57   STUD058  Student_58   BSIT  3rd Year  1.43
58   STUD059  Student_59   BSBA  2nd Year  1.57
59   STUD060  Student_60   BSED  3rd Year  3.94
60   STUD061  Student_61   BSCS  3rd Year  1.26
61   STUD062  Student_62      0  4th Year  2.13

[62 rows x 5 columns]

In [88]:
df_drop_rows = df.dropna()

In [91]:
print(df[df.isnull().any(axis=1)])

Empty DataFrame
Columns: [StudentID, Name, Course, YearLevel, GPA]
Index: []

In [92]:
print(df)

   StudentID        Name Course YearLevel   GPA
0    STUD001   Student_1   BSED  2nd Year  0.00
1    STUD002   Student_2    BSN  3rd Year  3.68
2    STUD003   Student_3    BSN  4th Year  3.88
3    STUD004   Student_4   BSBA  1st Year  1.38
4    STUD005   Student_5    BSN  2nd Year  3.85
..       ...         ...    ...       ...   ...
57   STUD058  Student_58   BSIT  3rd Year  1.43
58   STUD059  Student_59   BSBA  2nd Year  1.57
59   STUD060  Student_60   BSED  3rd Year  3.94
60   STUD061  Student_61   BSCS  3rd Year  1.26
61   STUD062  Student_62      0  4th Year  2.13

[62 rows x 5 columns]

In [93]:
print(df.isnull().sum())

StudentID    0
Name         0
Course       0
YearLevel    0
GPA          0
dtype: int64

In [94]:
print(df[df.isnull().any(axis=1)])

Empty DataFrame
Columns: [StudentID, Name, Course, YearLevel, GPA]
Index: []